body, html {
    background-color: #e0e1e8;
	background-repeat: no-repeat;
}

b {
    font-family: arial, helvetica, sans-serif;
}

#bar {
    background-size: 8.49px 8.49px;
    background-color: #ddd;
    color: #000;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    box-shadow: -5px 1px 10px #bbb;
}
a {
    color: #34345c;
}
textarea:focus, input[type=text]:focus, select:focus {
  outline: 0.1px solid #f67;
  transition: ease-in-out, background-color .20s ease-in-out;
}
textarea:disabled input[type=text]:disabled {
  background-color: gray;
}

.cont {
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
}

#thread {
 /* display: inline-block; */
    position: absolute;
    padding: 5px;
    width: 100%;
    clear: both;
}
#btitle {
    font-size: 19pt;
    font-family: serif;

    letter-spacing: -1.5px;
    font-weight: bold;
}

hr {
  border-top: 1px solid #ddd;
}

#pt1 {
    font-family: serif;
    background-color: #b7c5d2;
    width: 90px;

    border: 1.5px solid #cdcdce;
}

span.name {
  color: orange;
  font-weight: 700;

  text-shadow: 1px 1px 1px black;
}

span.subject {
  color: #000;
  font-weight: 700;
}

span.tripcode {
  font-size: 0.75em;
  text-shadow: 1px 1px 1px black;
}

span.capcode {
  font-weight: 700;
  color: orange;
  text-shadow: 1px 1px 1px black;
}

.post {
  color: #333;

  word-break: break-word;
  position: relative;

  padding: 7px 10px 0px 15px;

  background-color: #ecedf3;
  font-family: sans-serif;

  border: 2px solid #ccc;
}

.postinfo {
  background-image: linear-gradient(to bottom, #355d80, #88a6c0);
  padding: 3px;

  color: white;
}
