body, html {
    background-color: #ffffee;
    color: maroon;
}

b {
    font-family: arial, helvetica, sans-serif;
}

#bar {
    background-size: 8.49px 8.49px;
    background-color: rgba(240,224,214,0.98);
	color: #b86;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    box-shadow: -5px 1px 10px #bbb;
}
#bar a {
    color: #800000;
	font-weight: 700;
}
a {
    color: #34345c;
}

textarea:disabled input[type=text]:disabled {
  background-color: gray;
}

.cont {
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
}

#thread {
 /* display: inline-block; */
    position: absolute;
    padding: 5px;
    width: 100%;
    clear: both;
}
#btitle {
    font-size: 19pt;

    letter-spacing: -1.5px;
    font-weight: 400;

    color: #af0a0f;
    text-shadow: 1px 1px 1px rgb(105 10 15 / 60%);
}

hr {
  border-top: 1px solid #ddd;
}

#pt1 {
    font-family: serif;
    background-color: #ea8;
    width: 90px;

    border: 1.5px solid black;
}

span {
  color: #000;
}

span.name {
  color: #117743;
  font-weight: 700;
}

span.subject {
  color: #cc1105;
  font-weight: 700;
}

span.tripcode {
  font-size: 0.75em;
}

span.capcode {
  font-weight: 700;
  color: #cc1105!important;
}

.post {
  word-break: break-word;
  position: relative;

  padding: 7px 10px 0px 15px;

  background-color: #f0e0d6;
  font-family: sans-serif;

  border-right:  1px solid #d9bfb7;
  border-bottom: 1px solid #d9bfb7;
}
